.title-overflow {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.code-field {
  field-sizing: content;
}
  
.slider {
  border-radius: 9999px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }

  from {
    transform: rotate(0deg);
  }
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026";
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 40px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 40px;
  }
}

@keyframes opacity {to{opacity: 0}}